config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  keepdot: true
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  impignore:
    - lazy-lock.json
  cmpignore:
    - lazy-lock.json
dotfiles:
  d_i3:
    src: .config/i3
    dst: ~/.config/i3
  d_nvim:
    src: .config/nvim
    dst: ~/.config/nvim
  d_polybar:
    src: .config/polybar
    dst: ~/.config/polybar
  d_rofi:
    src: .config/rofi
    dst: ~/.config/rofi
  f_zshrc:
    src: .zshrc
    dst: ~/.zshrc
  d_alacritty:
    src: .config/alacritty
    dst: ~/.config/alacritty
  d_yazi:
    src: .config/yazi
    dst: ~/.config/yazi
  d_kitty:
    src: .config/kitty
    dst: ~/.config/kitty
  d_zathura:
    src: .config/zathura
    dst: ~/.config/zathura
  d_wallpapers:
    src: .config/wallpapers
    dst: ~/.config/wallpapers
  d_yamllint:
    src: .config/yamllint
    dst: ~/.config/yamllint
  f_p10k.zsh:
    src: .p10k.zsh
    dst: ~/.p10k.zsh
  f_xprofile:
    src: .xprofile
    dst: ~/.xprofile
profiles:
  default:
    dotfiles:
      - d_i3
      - d_nvim
      - d_polybar
      - d_rofi
      - f_zshrc
      - d_alacritty
      - d_yazi
      - d_kitty
      - d_zathura
      - d_wallpapers
      - d_yamllint
      - f_p10k.zsh
      - f_xprofile
  Gandalf:
    include:
      - default
  Sauron:
    include:
      - default
